<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
        
        * {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

        h2 {
            background-color: #274472;
            display: flex;
            justify-content: center;
            padding: 2%;
            color: white;
        }

        p{
            display: flex;
            justify-content: center;
            color: #5885AF;
            font-size: 1.5rem;
        }

        .img{
            display: flex;
            justify-content: center;

        }

        .main{
            background-color: #75E6DA;
        }

        figcaption {
            display: flex;
            justify-content: center;
        }

        footer{
            background-color: #05445E;
        }

        .btm {
            color: white;
            font-size: 1.3rem;
        }
    
    </style>
</head>
<body>
    <div class="main">
        <h2>Welcome Welcome</h2>
        <p> Come closer, don't be shy</p>
        <div class="img">

        <figure>
            <img src= https://images.pexels.com/photos/4754846/pexels-photo-4754846.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260 alt="4 Otters" style="width:100%">
            <figcaption>This is an otterly adorable pic</figcaption>
        </div>
</div>
<footer>
    <p class="btm"><strong>Fun Fact:</strong><br>Sea Otters eat 25 percent of their body weight in food every day!</p>
</footer>    
</body>
</html>
